
Project/ArcoMage/.vs/ArcoMage/v15/.suo
Project/ArcoMage/.vs/ArcoMage/v15/Server/sqlite3/storage.ide
Project/ArcoMage/.vs/ArcoMage/v15/Server/sqlite3/storage.ide-shm
Project/ArcoMage/.vs/ArcoMage/v15/Server/sqlite3/storage.ide-wal
Project/ArcoMage/bin/Debug/ArcoMage.exe
Project/ArcoMage/bin/Debug/ArcoMage.exe.config
Project/ArcoMage/bin/Debug/ArcoMage.pdb
Project/ArcoMage/bin/Debug/ArcoMaig.exe
Project/ArcoMage/bin/Debug/ArcoMaig.exe.config
Project/ArcoMage/bin/Debug/ArcoMaig.pdb
Project/ArcoMage/bin/Debug/nunit.framework.dll
Project/ArcoMage/bin/Debug/nunit.framework.xml
Project/ArcoMage/bin/Debug/nunit_random_seed.tmp
Project/ArcoMage/obj/Debug/ArcoMage.csproj.CopyComplete
Project/ArcoMage/obj/Debug/ArcoMage.csproj.CoreCompileInputs.cache
Project/ArcoMage/obj/Debug/ArcoMage.csproj.FileListAbsolute.txt
Project/ArcoMage/obj/Debug/ArcoMage.csproj.GenerateResource.cache
Project/ArcoMage/obj/Debug/ArcoMage.csprojAssemblyReference.cache
Project/ArcoMage/obj/Debug/ArcoMage.exe
Project/ArcoMage/obj/Debug/ArcoMage.pdb
Project/ArcoMage/obj/Debug/ArcoMage.Properties.Resources.resources
Project/ArcoMage/obj/Debug/ArcoMaig.exe
Project/ArcoMage/obj/Debug/ArcoMaig.pdb
Project/ArcoMage/obj/Debug/ArcoMaig.Properties.Resources.resources
Project/ArcoMage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Project/ArcoMage/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Project/ArcoMage/.vs/ArcoMage/v15/.suo
Project/ArcoMage/.vs/ArcoMage/v15/Server/sqlite3/storage.ide
Project/ArcoMage/.vs/ArcoMage/v15/Server/sqlite3/storage.ide-shm
Project/ArcoMage/.vs/ArcoMage/v15/Server/sqlite3/storage.ide-wal
Project/ArcoMage/bin/Debug/ArcoMaig.exe
Project/ArcoMage/bin/Debug/ArcoMaig.exe.config
Project/ArcoMage/bin/Debug/ArcoMaig.pdb
Project/ArcoMage/obj/Debug/ArcoMage.csproj.CoreCompileInputs.cache
Project/ArcoMage/obj/Debug/ArcoMage.csproj.FileListAbsolute.txt
Project/ArcoMage/obj/Debug/ArcoMage.csproj.GenerateResource.cache
Project/ArcoMage/obj/Debug/ArcoMage.csprojAssemblyReference.cache
Project/ArcoMage/obj/Debug/ArcoMaig.exe
Project/ArcoMage/obj/Debug/ArcoMaig.pdb
Project/ArcoMage/obj/Debug/ArcoMaig.Properties.Resources.resources
Project/ArcoMage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
